@use "variables" as *;
@use "mixins";

.form {
  @include mixins.flex(column);
  gap: 1.5rem;
  border-radius: 3rem;

  &__label {
    flex-grow: 1;
  }

  &__input {
    background: transparent;
    color: white;
    border: $defaultBorder;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
    outline-color: $secondary;

    &:focus {
      outline-style: solid;
    }

    &:invalid {
      border-color: $error;
      outline-color: $error;
    }

    &::placeholder {
      color: lighten($primaryLight, 23%);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0px 1000px transparent inset !important;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
      -webkit-text-fill-color: white !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

.form__input_error {
  border-color: $error;
  outline-color: $error;
}